:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(45deg, #8e2de2, #4a00e0)
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
header {
  margin: 0;
}
header nav {
  /* position: relative; */
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  top: 0;
}
header nav a {
  color: white;
  text-decoration: none;
  font-weight: ;
  padding: 6px 9px;
  font-size: large;
}
/* header nav a:hover {
  background-color: slategray;
  border-radius: 7px;
} */
