:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  background: linear-gradient(45deg, #8e2de2, #4a00e0)
}
header {
  margin: 0;
}

header nav {
  display: flex;
  align-items: center;   
  position: relative;    
}

header img {
  width: 100px;
  height: auto;
  padding-left: 10px;
}

.nav-links {
  position: absolute;    
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  padding: 6px 9px;
  font-size: large;
}

.nav-links a:hover {
  background-color: slategray;
  border-radius: 15px;
}
.hero {
  min-height: 100vh;
  display: flex;              
  align-items: center;        
  justify-content: center;
}
.MainContainer {
  margin: auto;
  gap: 40p;
  display: flex;
  align-items: center;        
  justify-content: center;   
  gap: 40px;                  
  max-width: 1200px;          
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
}
.wrapper img{
  width: 600px;
  height: 700px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
.text p{
  font-size: 1.7em;
  line-height: 1.0;
  color: white;
}
#work {
  min-height: 100vh;
  background: linear-gradient(45deg, #0f2027, #203a43, #2c5364);
    display: flex;
  justify-content: center;  
  align-items: center;      
  flex-direction: row;   
  min-height: 100vh;        
  text-align: center; 
}
#work img{
  width: 550px;      
  height: auto;     
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  margin-bottom: 10px;
}
.work-wrapper {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
}
.work-wrapper h2 {
  font-size: 1.5rem;
  margin: 8px 0 4px;
  color: white;
}
.work-wrapper p {
  font-size: 1rem;
  color: #ddd; 
  max-width: 300px;
  margin: 0 auto;
}